body {
    display: flex;
    justify-content: center;
    background-color: rgb(153, 153, 153);
    margin: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    border-radius: 20px;
    width: 100%;
    padding: 5px;
    border: 1px;
}

button {
    border-radius: 8px;
    border: 1px;
    background-color: rgb(254, 134, 99);
    color: white;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

button:active {
    box-shadow: 1px 1px grey;
    background-color: rgb(153, 153, 153);
}

.dragElement {
    width: 40%;
    height: 15%;
    background: rgb(153, 153, 153, 0.5);
    border: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.row {
    display: inline-flex;
    flex-direction: row;
}

.col {
    flex-grow: 1;
    background-color: white;
    min-height: min-content;
}

.filter {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: rgb(240, 240, 240);
}

.title {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: rgb(240, 240, 240);
    margin: 10px;
    padding: 5px;
    margin-right: 0px;
}

.list {
    display: flex;
    overflow: auto;
    height: 60vh;
    padding: 5px;
    flex-direction: column;
}

#header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(254, 134, 99);
    color: white;
    margin: 0px;
    padding: 10px;
}

#bottom {
    display: flex;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: rgb(240, 240, 240);
    color: white;
    margin: 0px;
    padding: 10px;
    justify-content: flex-end;
}

.friend {
    display: flex;
    padding: 2px;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(240, 240, 240);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.friend img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.hide {
    display: none;
}